{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'home_site/images/favicon.ico' %}"/>
    <title>Macon Code</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'home_site/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Macon Code</h1>
    </header>

    <!--Hero section with primary calls to action-->
    <div class="container-fluid p-5 bg-primary text-white text-center" id="hero">
        <h1>We are Macon Code</h1> 
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    
      <!--Secondary options used as page navigation-->
      <div class="container" id="secondary">
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-4">
            <h3>See our projects</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
           
          </div>
          <div class="col-sm-4">
            <h3>Submit an idea</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            
          </div>
          <div class="col-sm-4">
            <h3>Learn about us</h3>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
           </div>
        </div>
      </div>
    </div>

      <!--Project ideas for Macon, tiled section-->
      <div class="container" id="projects">
      <h2>Current projects</h2>
      <p>These projects have are in development or have been recently pithed to Macon Code. If you are interested in any of these projects and would like to contribute, contact us!</p>
    <div class="container-fluid mt-3">   
        <div class="row">
            <div class="col-md-3 p-3 bg-primary text-white">       
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h2 class="card-title">Project Name</h2>
                    <p class="card-text">A short description of the project and the problem it tries to solve.</p>
                    <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-3 bg-primary text-white">       
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h2 class="card-title">Project Name</h2>
                    <p class="card-text">A short description of the project and the problem it tries to solve.</p>
                    <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-3 bg-primary text-white">       
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h2 class="card-title">Project Name</h2>
                    <p class="card-text">A short description of the project and the problem it tries to solve.</p>
                    <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-3 bg-primary text-white">       
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h2 class="card-title">Project Name</h2>
                    <p class="card-text">A short description of the project and the problem it tries to solve.</p>
                    <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-3 p-3 bg-primary text-white">       
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h2 class="card-title">Project Name</h2>
                    <p class="card-text">A short description of the project and the problem it tries to solve.</p>
                    <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-3 bg-primary text-white">       
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h2 class="card-title">Project Name</h2>
                    <p class="card-text">A short description of the project and the problem it tries to solve.</p>
                    <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-3 bg-primary text-white">       
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h2 class="card-title">Project Name</h2>
                    <p class="card-text">A short description of the project and the problem it tries to solve.</p>
                    <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-3 bg-primary text-white">       
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h2 class="card-title">Project Name</h2>
                    <p class="card-text">A short description of the project and the problem it tries to solve.</p>
                    <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    </div>
    <!--project submission form-->
    <div class="container" id="ideas-form">
    <h2>Suggest a project!</h2>
        <form action="/action_page.php">
            <div class="mb-3 mt-3">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                <label for="need">Need:</label>
                <input type="text" class="form-control" id="need" placeholder="What is the challenge or community need for the project" name="need">
                <label for="details">Project Details:</label>
                <textarea class="form-control" id="details" placeholder="Share your ideas for the solution. Add as much detail as you can!" name="details" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!--Mission statement/our story-->
    <div class="container" id="our-story">
    <h2>Help us design for Macon</h2>
    <p>We are Macon Code, a non-profit organization working on solutions for community problems through the thoughtful use of technology. We beleive in the possibilities of our community, and we strive to develop resources that make Macon better for everyone.</p>

    <h3>Who can join?</h3>
    <p>You can!</p>
    <p>Our group is entirely volunteer based, and our members come from various backgrounds and experiences. We are always looking for fresh ideas and new perspectives. We believe all our community members have something to offer as we design, develop, code, and implement projects.</p>

        <!-- Image carousel for group photos-->
            <div id="aboutus-carousel" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            </div>
        
            <!-- The slideshow/carousel -->           
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'home_site/images/havingfun.jpg' %}" alt="" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Enjoy technology?</h3>
                        <p>So do we! Join us to put your skills to work for the Macon community!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'home_site/images/prototyping-july23.jpg' %}" alt="Members around a computer working on a website" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'home_site/images/firstdesignsprint1.jpg' %}" alt="" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'home_site/images/firstdesignsprint2.jpg' %}" alt="" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'home_site/images/firstdesignsprint3.jpg' %}" alt="" class="d-block w-100">
                </div>
                </div>
            
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>

    <!--partners and supporters-->



    <footer>
        <div class="container-fluid p-5 bg-primary" id="footer">
            <p>In development by Macon Code</p>
        </div>
    </footer>

</body>
</html>